*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
:root {
  background-color: #2C2C2C;
  --nav-height: 64px;
  color: #F6F1E8;
}

ul{
    list-style-type: none;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.container{
  display: flex;
  position: relative;
  height: 99vh;
  /* width: 120vw; */
}
/* Modal Support */

.row {
  position:relative;
  height: 100%;
}

.row-modal-true{
  width: 84vw;
  border: 2px solid chartreuse;

}
.row-modal-false{
  width: 100vw;

}


.sidebar-true{
    width: 16vw;
    position: fixed;
    right: 0;
    
}
  

.sidebar-false{
    width: 0vw;
}

/* Side Bar */
.sidebar--wrapper{
  position:absolute;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding:  0 10px;
  text-align: center;
}

.exit-btn{
    color: chartreuse;
    position: absolute;
    font-size: 2rem;
    right: 26px;
    top: 10px;
    transition: all .3s ease;
  }
  .exit-btn:hover{
    color: #a600e7;
    text-shadow: 0 0 0 3px rgba(127, 255, 0, 0.3);
    
  }
  .color-theme{
    position: absolute;
    border: 1px solid chartreuse;
    background-color: rgb(180, 237, 124);
    border-radius: 4px;
    text-align: center;
    top: 60px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 0;
  }
  .additional-features{
    font-size: 3rem;
  }
  
  
  /*  Nav Bar */
  .nav--title{
  display: flex;
  align-items: center;
}

.nav-logo--wrapper{
  display: flex;
  height: 8vh;
}

/* Main - Home */
.main__section--wrapper{
  height: 100%;
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: center;
}

.logo--wrapper {
  position: absolute;
  bottom: 8px;
  left: 8px;
  height: 64px;
  width: 64px;
}
.logo--img{
  
  border-radius: 12px;
  height: 64px;
  opacity: .6;
}

.afmodal--wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 8px;
  right: 8px;
  height: 8vh;
  width: 8vh;
}
.afmodal__svg--wrapper{
  background-color: aqua;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vh;
  margin-bottom: 10px;
}

.afmodal__svg{
  font-size: 2rem;
}

.nav--wrapper{
  display: flex;
  height: 10vh;
  width: 100%;
  padding: 0 40px 0 10px;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
}
.walls--wrapper{
  border-radius: 12px;
  height: 100%;
  width: 80%;
  display: flex;
  /* border: 2px solid chartreuse; */
  align-items: center;
  justify-content: center;
  

}

/* Main Login */

.login-form--wrapper{
  border: 2px solid chartreuse;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 33%;
  height: 78%;
  border-radius: 14px;
}
.login-form{
  width: 78%;
  height: 33%;
  border-radius: 14px;
  border: 2px solid chartreuse;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: start;
  font-size: 1.4rem;
  
}

.login-form input{
  align-items: center;
  width: 96%;
  height: 2rem;
  border-radius: 8px;
}
.login-privacy--wrapper{
  width: 80%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.login-privacy{
  text-align: center;
  font-size: 1.2rem;
}

.login-register{
  font-size: 1.4rem;
}

.error{
  color: red;
}

.sidebarnav--wrapper{
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 4vh 0;
}
.sidebarnav__links--wrapper{
  flex-direction: column;
  display: flex;
  height: 70%;
  justify-content: space-around;
  align-items: center;
}
.links--wrapper{
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: space-between;
  font-size: 1.6rem;
}

.sidebarnav--btn{
  font-size: 1.2rem;
  padding: 4px;
  width: 50%;
}

/* Home - Task Wall */

.task-wall--wrapper{
  display: grid;
  grid-template-columns: repeat(4 ,1fr);
  grid-auto-rows: 200px;
  gap: 10px;
  width: 100%;
  height: 100%;
  overflow-y: scroll ;
}
.task__sp--wrapper{
  border-radius: 4px;
 
}
.task__sp--wrapper.less{
  grid-column: span 2;
  grid-row: span 2;  
  
} 

.task--wrapper{
  border-radius: 4px;
  border-top: .6px solid chartreuse;
  border-right: .6px solid chartreuse;
  border-bottom: .6px solid chartreuse;
  height: 100%;
  width: 100%;
  
}
.task--wrapper{
  border-radius: 4px;
  display: flex;
  
}
.task__area--tab{
  width: 10px;
  height: 100%;
  border-radius: 4px 0 0 4px;
}

.task__section--wrapper{
  display: flex;
  width: 100%;
  padding: 4px 8px;
  flex-direction: column;
  justify-content: space-between;
}

.more-btn--wrapper{
  display: flex;
  justify-content: end;
  padding-right:8px ;
  
}
.more-btn:hover{
  color: chartreuse;
  cursor: pointer;
}
.more__section--wrapper{
  display: flex;
  width: 100%;
  padding: 4px 8px;
  flex-direction: column;
  /* justify-content: space-between; */
}
.more__section--title{
  display: flex;
  justify-content: space-between;
  padding: 0 0 10px 0;
}
.more__section--desc{
  padding: 0 0 10px 0;

}
.todos__section--wrapper{

  height: 80%;
  margin-top: 10px;
  
  
  overflow-y: scroll;
  scrollbar-width: thin; 
  scrollbar-color: #333 transparent;
  
}
  
.todo__list--item{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4px;

  color: #2C2C2C;
  background-color: #F6F1E8;
  border-radius: 2px;
  position: relative;
}
.todo__list--item:nth-child(odd){
  background-color: #8FBFA3;

}

.favorite-delete--btn{

  position: absolute;
  right: 6px;
}

.form__section--wrapper{
  position: absolute;
  border: 2px solid chartreuse;
  /* z-index: 5; */
  top: 9vh;
  width: 100%;
  height: 91vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.form--wrapper{
  border: 2px solid chartreuse;
  border-radius: 10px;
  width: 50%;
  height: 50%;
  padding: 18px;
  
}

.form--form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;

}
.dropdown {
  width: 120px;
  padding: 8px;
  border-radius: 6px;
}

.dropdown__option {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid chartreuse;
}

.form__area--wrapper{
  background-color: #a600e7;
}
.form__area--circle{
  width: 10px;
  height: 100%;
  border-radius: 50%;
}
.form__area--name{
  color: #a600e7;
}